{% extends 'home/base.html' %}
{%  load staticfiles %}

{% block main_content %}

    <!-- <img class="img-thumbnail" src="{% static '/home/images/lilg.jpg' %}" alt="lilg"> -->


<div class="card-deck">


        <div class="row">
            <div class="card" style="width:200px">
                <img class="card-img-top" src="{% static '/home/images/lilg.jpg' %}" alt="lilg" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">Lil G</h4>
                    <p class="card-text">Bboy de venezuela</p>
                    <a href="#" class="btn btn-primary stretched-link">See Profile</a>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="card" style="width:200px">
                <img class="card-img-top" src="{% static '/home/images/pocket.jpg' %}" alt="pocket" style="width:100%">
                    <div class="card-body">
                       <h5 class="card-title">Pocket</h5>
                       <p class="card-text">Bboy de Corea</p>
                       <a href="#" class="btn btn-primary stretched-link">See Profile</a>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
            </div>
        </div>

        <div class="row">
            <div class="card" style="width:200px">
                <img class="card-img-top" src="{% static '/home/images/lilg.jpg' %}" alt="lilg" style="width:100%">
                    <div class="card-body">
                       <h5 class="card-title">Lil G</h5>
                       <p class="card-text">Bboy de venezuela</p>
                       <a href="#" class="btn btn-primary stretched-link">See Profile</a>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
            </div>
        </div>

        <div class="row">
            <div class="card" style="width:200px">
                <img class="card-img-top" src="{% static '/home/images/lilg.jpg' %}" alt="lilg" style="width:100%">
                    <div class="card-body">
                       <h5 class="card-title">Lil G</h5>
                       <p class="card-text">Bboy de venezuela</p>
                       <a href="#" class="btn btn-primary stretched-link">See Profile</a>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
            </div>
        </div>

        <div class="row">
            <div class="card" style="width:200px">
                <img class="card-img-top" src="{% static '/home/images/lilg.jpg' %}" alt="lilg" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">Lil G</h4>
                    <p class="card-text">Bboy de venezuela</p>
                    <a href="#" class="btn btn-primary stretched-link">See Profile</a>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="card" style="width:200px">
                <img class="card-img-top" src="{% static '/home/images/lilg.jpg' %}" alt="lilg" style="width:100%">
                    <div class="card-body">
                       <h5 class="card-title">Lil G</h5>
                       <p class="card-text">Bboy de venezuela</p>
                       <a href="#" class="btn btn-primary stretched-link">See Profile</a>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
            </div>
        </div>

        <div class="row">
            <div class="card" style="width:200px">
                <img class="card-img-top" src="{% static '/home/images/lilg.jpg' %}" alt="lilg" style="width:100%">
                    <div class="card-body">
                       <h5 class="card-title">Lil G</h5>
                       <p class="card-text">Bboy de venezuela</p>
                       <a href="#" class="btn btn-primary stretched-link">See Profile</a>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
            </div>
        </div>

        <div class="row">
            <div class="card" style="width:200px">
                <img class="card-img-top" src="{% static '/home/images/lilg.jpg' %}" alt="lilg" style="width:100%">
                    <div class="card-body">
                       <h5 class="card-title">Lil G</h5>
                       <p class="card-text">Bboy de venezuela</p>
                       <a href="#" class="btn btn-primary stretched-link">See Profile</a>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
            </div>
        </div>


</div>



{% endblock %}