{%  load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static '/home/bootstrap-4.3.1-dist/css/bootstrap.css' %}"/>

<title>Lista Powermoves</title>
<h1>Powermoves registrados en el sistema</h1>

      <div class="table-responsive">
        <table class="table table-hover table-bordered">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Movimento</th>
        </tr>
    </thead>
    <tbody>
        {% for m in listapowermoves %}
            <tr>
                <td>{{ m.id }}</td>
                <td>{{ m.name }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>